<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/create.css" rel="stylesheet">
    <title>Create Account Page</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <section>
            <h1>
                Create Your Games Account Here
            </h1>
            <form action="/create-account" method="post">
            <input name="username" placeholder="Your Username">
            <br>
            <br>
            <input name="password" type="password" placeholder="Your Password">
            <br>
            <br>
            <button>
                <strong>
                    Create Account
                </strong>
            </button>
            </form>
            <br>
            <br>
            <a href="/user/login">
                <strong>
                    🔙 Go back to Login Page
                </strong>
            </a>
        </section>
    </main>
</body>
</html>
